@import url("https://fonts.googleapis.com/css?family=Fredoka+One");

body {
  margin: 0;
  padding: 0;
  background-color: #b2dbbf;
  font-family: "Fredoka One", "sans-serif";
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    #ff1654,
    rgba(0, 0, 0, 0)
  );
}
